body {
    background-color:  #1a1a2e;
}

.canvas-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    background-color: #cacae6;
}

.text {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
    position: absolute;
    width: 100%;
    height: 40px;
    font-size: 30px;
    bottom: calc(100% + 4px);
    color: #e6e6fa; 
}

.header #select-level {
    position: absolute;
    bottom: 0;
    left: 0;
}
.header #level-description {
    position: absolute;
    bottom: 0;
    right: 0;
}

.header #pause-button {
    position: absolute;
    width: 38px;
    height: 38px;
    border: #e6e6fa solid 2px;
    right: 0;
    bottom: -4px;
}

.header .score-container {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    gap: 30px;
}

.header #pause-button:hover {
    cursor: pointer;
}

.complete-message {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: lavender;
}

@media (max-width: 468px) {
    .header {
        font-size: 24px;
    }

    .header #pause-button {
        width: 32px;
        height: 32px;
    }
}

.game-over-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 140px;
    background-color: #591c9e;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    border: 4px black solid;
    display: none;
}

.game-over-message .game-over {
    position: relative;
    bottom: 10px;
    font-size: 46px;
    color: #e6e6fa;
}

.game-over-message .button {
   position: absolute;
   font-size: 32px;
   line-height: 34px;
   text-align: center;
   width: 80%;
   left: 50%;
   transform: translateX(-50%);
   color: black;
   background-color: #b73bec;
}

.game-over-message .button:hover {
    cursor: pointer;
    background-color: #e29eff;
}

.game-over-message .retry {
    bottom: 56px;
}
.game-over-message .menu {
    bottom: 10px;
}

.start-message {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.levels-container {
    margin-left: 4%;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    align-content: center;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(2, 50%);
}

.level-button {
    position: relative;
    background-color: #591c9e;
    border: 5px #34125c solid;
    text-align: center;
    width: 80%;
    height: 80%;
}

.level-button:hover {
    cursor: pointer;
    background-color: #7827d4
}
.level-button .text {
    font-size: 50px;
    line-height: 22cqh;
    color: #e6e6fa;
}

.locked {
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: #2f0e55;
    font-size: 40px;
    width: 100%;
    height: 100%;
    cursor: default;
}